body{
  width: 60%;
  height:100%;
  background-color: #0f2027;
  
}

.inner-layer{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0f2027;

}


.form-data{
  background-color: white;
  width: 75%;
  margin-left: 125%;
  text-align: center;
}

.form-body{
  
  padding:20px;
  position: relative;
  
}
.form-head{
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
.form-head h2{
  font-size: 22px;
  font-weight: 600;
}

.no-margin{
  margin:0px;
}
.form-row{
  margin-bottom:15px;
}


.form-control{
  background-color: #f7f7ff;

}
.form-control:focus{
  box-shadow: none;
  border: 3px solid #138496;
}
.btn-car{
  background-color: #0f2027;
  border-color: #0f2027;
  width: 91%;
  margin-left: 13px;
  color: white;
}
.content{
  margin-top: -5%;
  text-align: center;
  color: #FFF;
  padding: 30px;
}
.content h1{
  font-weight: 600;
  font-size: 3.5rem;
  position: relative;
  top:30px;
}
.content p{
  font-size: 22px;
}
.datepicker td, .datepicker th{
padding: 8px;
}
.dropdown-menu.datepicker{
    max-width: 300px;
}

.col-sm-5
{
  width: 400px;
}
